//
  Copyright © 2019 code initially contributed by Orange SA, authors: Denis Barbaron - Licensed under the Apache license 2.0
//

.widget-container.fluid-height.overflow-auto.group-list
 .heading
  nothing-to-show(
    icon='fa-object-group'
    message='{{"暂无数据" | translate}}' ng-if='false')

  div(ng-if='true')
    form.form-inline
      .form-group.group-list-header
        stf-pager(
          tooltip-label="{{'Group selection' | translate}}"
          total-items='filteredGroups.length'
          total-items-style='stf-pager-group-list-total-items'
          items-per-page='scopeGroupListCtrl.groupItemsPerPage'
          items-per-page-options='itemsPerPageOptions'
          current-page='scopeGroupListCtrl.groupCurrentPage'
          items-search='search')

      .form-group.group-list-header
        stf-column-choice(reset-data='resetData()' column-data='groupData.columns')
      .form-group.group-list-header.rightBtn
        button.btn.btn-primary(type="button" ng-click="initScopeFunc()")
          i.fa
          span(translate) 调试记录
        button.btn.btn-primary(type="button" ng-click="orderFunc()")
          i.fa
          span(translate) 预约记录
      //- button.btn.btn-xs.btn-primary-outline.pull-right(
      //-   type='button'
      //-   uib-tooltip="{{'Write an email to the group owner selection' | translate}}"
      //-   ng-disabled='!filteredGroups.length'
      //-   ng-click='mailToGroupOwners(filteredGroups)'
      //-   tooltip-placement='top'
      //-   tooltip-popup-delay='500')
      //-     i.fa.fa-envelope-o
      //-     span(translate) Contact Owners 
    table.table.table-hover.dataTable.ng-table.table-striped
      thead
        tr
          th.header.bootstrapTh.sortable(
            ng-class='[column.sort]'
            ng-repeat='column in groupData.columns | filter: {selected: true}'
            ng-click='sortBy(groupData, column)')
              div.strong(ng-bind-template='{{::column.name | translate}}')
      tbody
        tr(ng-repeat="group in statistics \
          | filter:search \
          | orderBy:groupColumns[groupData.sort.index].property:groupData.sort.reverse \
          | pagedObjectsFilter:scopeGroupListCtrl:'groupCurrentPage':'groupItemsPerPage':'filteredGroups' \
          track by $index" ng-if="showTr")
          td {{$index + 1}}
          td {{group.phoneSelect.brand}}
          td {{group.phoneSelect.equipmentType}}
          td {{group.phoneSelect.phoneVersion}}
          td {{group.phoneSelect.phoneSize}}
          td {{group.phoneSelect.resolution}}
          td {{group.countPhone}}
          td {{group.startTime}}
          td
           a.checkReport(type="button" ng-click="visiteDetail(group)") 查看报告

       tr(ng-repeat="group in statistics \
          | filter:search \
          | orderBy:groupColumns[groupData.sort.index].property:groupData.sort.reverse \
          | pagedObjectsFilter:scopeGroupListCtrl:'groupCurrentPage':'groupItemsPerPage':'filteredGroups' \
          track by $index" ng-if="!showTr")
          td {{$index + 1}}
          td {{group.phoneType}}
          td {{group.brand}}
          td {{group.phoneVersion}}
          td {{group.createTime}}
          td {{group.type}}
          td {{group.strTime}}

